/* .container{
    background-color: red;
} */
.Jwidth{
    width: 60%;
}
.slider_title
{
    background-color: black;
    color: white;
}
.carousel-inner{
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 10px;
}
.footer{
    background-color: black;
    width: 100%;
    color: white;
}
.map{
    width: 40%;
}
.map iframe,.map h4{
    margin-left: 50px;

}
.Fcard{
    width: 30%;
}
.blur{
    
}